.inputContainer {
    display: flex;
    flex-direction: column;
}

.input {
    height: 2rem;
    width: 18rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    padding-left: 0.5em;

    &:focus-visible {
        outline: none;
    }
}

.labelStyle {
    font-weight: bold;
}