.headerContainer{
    display: flex;
    padding: 1rem;
    width: 100%;
    background-color: #2970ff;
    color: #FFFFFF;
    font-family: sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
}